/** `sass --style=expanded --no-cache _global.scss _global.css` ***************/

@import 'text-stroke';
@import 'colors';
@import 'images';
@import 'language';

$font-size: 48px;

$answer-buttons-iphone-height: 100px;

/** HIDE UNTIL READY **********************************************************/

#qa, .tts-trigger {
  visibility: hidden;

  .show & {
    visibility: visible;
  }
}

/** TYPOGRAPHY ****************************************************************/

#qa {
  font-family: arial;
  font-size: $font-size;
}

.card-info {
  font-size: small;
}

.deck {
  font-weight: bold;
  font-variant: small-caps;
}

.card.back {
  font-weight: bold;

  .repeated-info {
    font-weight: normal;
  }
}

.cloze,
.memory-jog,
.memory-jog-with-details {
  .card {
    font-size: $font-size / 2;
  }

  .card.back {
    font-weight: normal;
  }
}

.style-small-text .card {
  font-size: $font-size / 2;
}

.extra {
  font-size: small;
}

cite {
  font-size: small;
  display: block;
  text-align: right;
  margin-bottom: -2em;
  color: map-get($colors, dark-gray);
}

cite:before {
  content: "(";
}

cite:after {
  content: ")";
}

.cloze .card.front,
.cloze .card.back {
  text-align: left;
  position: relative;
}

blockquote:before, blockquote:after {
  display: block;
  color: map-get($colors, dark-gray);
  font-size: $font-size * 2;
  line-height: 1em;

  .iphone & {
    margin: auto -0.25em;
    text-indent: 2em;
  }
}

blockquote:before {
  content: "\201C";
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0.1em;

  .iphone & {
    margin-left: -0.5em;
  }
}

blockquote:after {
  content: "\201D";
  position: absolute;
  bottom: -0.5em;
  right: 0;
  padding-right: 0.1em;

  .iphone & {
    bottom: -0.2em;
  }
}

th {
  border-bottom: 1px solid;
  font-weight: normal;
}

input {
  text-align: center;
}

.center {
  text-align: center;
}

.tts-trigger {
  background-color: map-get($colors, very-light-gray);
  background-image: url("_speaker-32x32.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1px outset;
  display: block;
  padding: 5px 10px;
  margin: 0.5em auto;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 32px;
}

span#tts {
  display: block;
}

.code, #debug {
  background-color: #eee;
  color: black;
  font-family: monospace;
  font-size: 12px;
  text-align: left;
}

#file-generation-info {
  color: transparent;
  font-size: $font-size / 2;
}

/** STRUCTURE *****************************************************************/

$line-height: 2em;
$radius: $line-height / 4;

body {
  margin: 0;
  padding: 16px;
}

.card-info {
  border-radius: $radius $radius 0 0;
  display: table;
  vertical-align: middle;
  width: 100%;
}

.tags,
.deck,
.slash {
  display: table-cell;
  line-height: $line-height;
  padding: 0 $line-height/2 0 $line-height/4;
}

.tags {
  border-top-left-radius: $radius;
  padding-left: $line-height/2;
  width: 100%;
}

.tag {
  border-radius: $radius/2;
  padding: 0.1em 0.4em;
}

.tag + .tag {
  margin-left: 0.2em;
}

.deck {
  border-top-right-radius: $radius;
  text-align: right;
  white-space: nowrap;
}

.slash {
  border-style: solid;
  border-width: 0 0 $line-height $line-height;
  height: 0;
  width: 0;
}

.card-info + .card.front {
  border-radius: 0 0 $radius $radius;
}

.card.front ~ .card.back {
  border-radius: $radius;
  margin-top: $line-height/4;
}

.card.front, .card.back {
  text-align: center;
  padding: 16px;
}

.extra {
  margin-top: $line-height/2;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table + table {
  margin-top: $line-height;
}

th, td {
  padding: 0.1em;
}

hr#answer {
  display: none;
}

.iphone {
  body {
    padding: 0;
  }

  .deck {
    line-height: 2.6em;
  }

  .card.front,
  .card.back {
    margin: 0;
  }

}

/** COLORS & IMAGES - GENERAL *************************************************/

/*
   Mac app:    webkit safari mac js 
   Mac Chrome: webkit chrome mac js
   iOS app:    webkit safari mobile iphone js
*/

.default-colors {
  background-color: white;
  color: black;
}

body {
  @extend .default-colors;
  background-image: url("_wood.jpg");
  background-repeat: repeat;
}

.card {
  @extend .default-colors;
}

.tag {
  opacity: 0.7;
}

.slash {
  border-color: transparent;
}

.extra {
  color: #888888;
}

.substudy {
  background-color: black;

  .card-info {
    display: none;
  }

  .card {
    background: none;
    padding: 0 !important;
  }

  .card.front {
    position: relative;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  #audio-control, .soundLink {
    background-color: gray;
    border-radius: 50%;
    opacity: 0.2;

    cursor: pointer;
    position: absolute;
    top: 37%;
    left: 45%;
    width: 64px;
    height: 64px;
  }

  .subtitles {
    display: block;
    padding: $font-size / 4;
    position: absolute;
    width: 100%;

    &:not(.translation) {
      @include text-stroke(2, navy);
      bottom: 0;
      color: white;

      .context {
        color: gray;
        font-size: $font-size / 3;
      }
    }

    &.translation {
      @include text-stroke(1, navy);
      color: gray;
      font-size: $font-size / 3;
      font-weight: bold;
      top: 0;

      .context {
        font-weight: normal;
        font-size: $font-size / 4;
      }
    }

    &.hidden {
      display: none;
    }
  }
}

.iphone {
  .subtitles:not(.translation) {
    bottom: $answer-buttons-iphone-height !important;
  }

  .replaybutton {
    background-color: gray;
    border-radius: 50%;
    opacity: 0.7;

    display: block;
    position: absolute;
    top: 35%;
    left: 47%;
  }
}

/** COLORS & IMAGES - LANGUAGES ***********************************************/

@include cardStyle("gray");

@include monolingual("gregg", "consonants");

@include monolingual("de", "deutsch");
@include monolingual("es", "español");
//@include monolingual("fi", "suomi");
@include monolingual("fr", "français");
@include monolingual("hu", "magyar");
@include monolingual("ja", "japanese");

@include bilingual("en", "de");
@include bilingual("en", "es");
@include bilingual("en", "fr");
@include bilingual("en", "hu");
@include bilingual("en", "ja");

@include bilingual("es", "fr");
//@include bilingual("fi", "hu");
//@include bilingual("fr", "fi");

///* Mandarin */
//
//@include monolingual("zh", "mandarin");
//@include bilingual("en", "zh");
//
//.zh-trad,
//.zh-simp {
//  font-family: SimSun;
//}
//
//.zh-simp {
//  color: #666;
//}

/* ASLwrite */

@font-face {
 font-family: "ASLwrite";
 src: url(_aslwrite.ttf) format("truetype");
}

.asl {
	.gloss {
		font-family: "ASLwrite";
		font-size: 36px;
    text-transform: lowercase; // right-handed
	}

  &.mac .gloss {
    font-family: "Si5sEnergy";
  } 

  // Vertically center multiple images.
  .card:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .card img {
    vertical-align: middle;
    display: inline-block;
  }
}

/* Lhenazi */

@font-face {
 font-family: "Lhenazi";
 src: url(_lhenazi.ttf) format("truetype");
}

.lhenazi {
  font-family: "Lhenazi";
  font-size: 72px;
}

.ipa + .person,
.conjugation-example td + .person {
  padding-left: 2em;
}

.person {
  text-align: right;
}

.conjugation,
.verb {
  font-weight: bold;
}

.ipa {
  color: #ccc;
}

.ipa:before, .ipa:after {
  content: "/";
}

/* NON-LANGUAGE STYLES ********************************************************/

.card .cloze {
  font-weight: bold;
  color: red;
}

.flag-country .card img,
.map-country .card img {
  border: 1px solid black;
}

.correct {
  color: darkgreen;
}

.email {
  font-family: monospace;
}

.hidden {
  color: transparent !important;
}

hr.hidden {
 display: none !important;
}

.nickname {
  font-weight: bold;
}

.no-photo-name {
  font-size: 100%;
}

.outlined {
  border: 1px dashed gray;
}

.prompt {
  margin-bottom: 1em;
}

@include topic_icon("sailing");
@include topic_icon("geography");