$answer-buttons-iphone-height: 100px;

.iphone {
  $font-size: 24px;

  #qa {
    font-size: $font-size;
  }

  body {
    padding: 5px;
  }

  .deck {
    line-height: 2.6em;
  }

  .card.front,
  .card.back {
    margin: 0;
  }

  cite & {
    margin-right: 2em;
  }

  blockquote {
    margin: 1em 0;
  }

  blockquote:before, blockquote:after {
    margin: auto -0.25em;
    text-indent: 2em;
  }

  blockquote:before {
    margin-left: -2em;
  }

  blockquote:after {
    bottom: -0.2em;
    right: 0.2em;
  }

  .subtitles:not(.translation) {
    bottom: $answer-buttons-iphone-height !important;
  }

  .replaybutton {
    background-color: gray;
    border-radius: 50%;
    opacity: 0.7;

    display: block;
    position: absolute;
    top: 35%;
    left: 47%;
  }

  .style-small-text .card {
    font-size: 0.75em;
  }
}